#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-item {
  position: relative;
  margin: auto;
}

.image-item img {
  max-width: 453px;
  height: auto;
  display: block;
}

.image-item .number1,
.image-item .number2 {
  position: absolute;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #2f5597;
  font-family: "Times New Roman", Times, serif;
}

.image-item .number1 {
  top: 58px;
  left: 75px;
}

.image-item .number2 {
  top: 58px;
  left: 180px;
}

.price1,
.price2,
.signature {
  position: absolute;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #2f5597;
  font-family: "Times New Roman", Times, serif;
}
.price1 {
  top: 27px;
  left: 75px;
}
.price2 {
  top: 27px;
  left: 180px;
}
.signature {
  top: 63px;
  left: 260px;
  font-size: 10px;
  font-weight: bolder;
}
